googleapis-common-protos
absl-py
protobuf
grpcio
sentry-sdk[flask]
python-box[all]

WTForms
WTForms-ParsleyJS
Flask-WTF
Flask-Login
Flask-Bcrypt
Flask-Mail
Flask-Static-Digest
Flask-Travis
jsmin
gunicorn
cssmin
email_validator
python-dotenv
