<!doctype html>
<html lang="en">
<head>
  {% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Maintly.app" />
  <link rel="manifest" href="{{ static_url_for('static', filename='manifest.json') }}"/>
  {% endblock %}
  {% block head %}
  <title>{%block title %}{% endblock %} - Steward</title>
  {% endblock %}
</head>
<body>
  <header>
    <div id="title" class="navbar">
      <h1>Steward > {{view}}</h1>
    </div>
    {% include 'nav.html' %}
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}


  <div id="content" class="container">
    {% block content %}
    {% endblock %}
  </div>


  <div id="footer" class="container">
    {% block footer %}
    {% if current_user.is_authenticated %}
    <span>Logged in as: {{current_user.user.name}}</span>
    {% endif %}
      <a href="https://github.com/Steward-app/steward">Steward on GitHub</a>
    {% endblock %}
  </div>
  {% block blockscripts %}
  <script type="text/javascript" src="{{ static_url_for('static', filename='app.js') }}"></script>
  {% endblock %}
</body>
</html>
